<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>welcome to my world ⋆｡°✩</title>
    <link rel="shortcut icon" type="image/jpg" href="/designassets/mitsukiicon.png">
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
    <base target="_blank">
    
    <link rel="stylesheet" href="https://cdring.neocities.org/cdring/onionring.css">
  </head>
  
  <body>
  
<!-- BIG BOXES -->
  
  <div class="border">
  <div class="card">
  
<!-- TOP BANNER -->
<div class="topbanner">
    <div class="marquee">
      <div class="innermarquee">
        <p style="font-size: 1rem; line-height: 2.5rem; color: white;"> 
        site best viewed on a google chrome desktop!~ &nbsp;&nbsp; ☆  &nbsp;&nbsp; under construction!
        </p>
      </div>
    </div>
</div>
  
<!-- HEADER -->

<header>
	<div>
	  <p class="subtitle">⇒ Mobile optimization otw!</p>
	  <img src="/designassets/mitsukicropped.png" id="title-img">
	</div>
    <div class="title-container">
      <p class="intro">Welcome to</p>
    	<p class="title"><b>Gabys World</b></p>
    	<p class="intro" style="margin-top: 0;">gabysworld.neocities.org</p>
  </div>
</header>

<!-- SPACE -->

  <div class="space">
  </div>

<!-- ROW TWO -->

<div class="row-two">
  
  <div class="left-two">
  
<!-- NAV -->

    <div class="navigation">
      <h1 style="font-size: 1rem; margin-bottom: 0">navigation</h1>
      <a href="/sitemap.html" class="tinylink" style="width: 100%;">
      click here for site map!
      </a>
      <a class="navbutton" href="index.html" target="_self">
        home
      </a>
      <a class="navbutton" href="/subpages/about/about.html" target="_self">
        about
      </a>
      <a class="navbutton" href="subpages/blog/blog.html" target="_self">
        blog
      </a>
      <a class="graynavbutton" href="" target="_self">
        shrines
      </a>
      <a class="navbutton" href="/subpages/medialogs/media.html" target="_self">
        media diary
      </a>
      <a class="graynavbutton" href="" target="_self">
        collections
      </a>
      <a class="navbutton" href="/subpages/studio/studio.html" target="_self">
        art studio
      </a>
      <a class="navbutton" href="subpages/coding/coding.html" target="_self">
        coding jrny
      </a>
      <img src="designassets/littlegifs/yellowribbon.gif" style="width: 90%; margin-top: 4%; margin-bottom: 4%;">
      <a class="navbutton" href="https://gabyme.atabook.org" target="_blank">
        guestbook
      </a>
      <a class="navbutton" href="https://neocities.org/site/gabysworld" target="_blank">
        neocities acc
      </a>
    </div>

  </div>
  
  <div class="middle-two">
  
  <!-- ABOUT -->

    <div class="about">
    
      <div class="abouttitle">
      <h1 style="text-color: white; margin-bottom: 1rem;">about</h1>
      </div>
      
      <div class="bio">
          <img style="margin: 0 1rem 0 0 ; float: left; width: 10em; height: auto; max-width: 300px; max-height: 300px;" src="/designassets/bunnypfpframe.png" alt="mr bunny">
          <b>Hi there! </b>My name's Gaby. It's nice to meet you!
          <br>
          <br>
          I'm a 24 year old multi media artist based in Los Angeles.☆ I made this website in January of 2025, and it's been largely inactive since then, but I'd like to give it a little restart here in fall 2025!
          <br>
          <br>
          My hope is to use it as a replacement of sorts for social media, which I spend way too much time on. I hope you'll join me for my journey of making something that represents my purest self ⋆˚꩜｡
          <br>
          <br>
      </div>
      
      <div class="aboutlink">
            <p align="center">
              <a href="subpages/about/about" class="tinylink" style="font-size: 1rem;" target="_self">
              Find out more about me here ♡
              </a>
            </p>
      </div>
    </div>
    
  </div>
  
  <div class="right-two">
  
<!-- STATUS -->
    <div class="status">
    <div class="iframe-container">
      <iframe title ="status" src="https://gabysworld.neocities.org/status" frameborder="0" style="width: 100%; height: 101%;"></iframe>
      </div>  
    </div>
  
<!-- VISITOR -->
  
    <div class="visitor">
    <h2 style="font-size: 1.75rem; margin-bottom: 0; line-height: 0.25rem; color: white !important;">Congrats!</h2>
    <br>
    <h2 style="font-size: 1.25rem; margin-top: 0; margin-bottom: 0.6rem; line-height: 0.05rem; color: white !important;">You are visitor no:</h2>
      <div class="counter">
      <!-- FC2 Counter  Starts here -->
        <script language="javascript" type="text/javascript" src="//counter1.fc2.com/counter.php?id=40194706&main=1"></script><noscript><img style:"margin: auto;" src="//counter1.fc2.com/counter_img.php?id=40194706&main=1"/></noscript>
      <!-- FC2 Counter  Ends here -->
      </div>
    </div>
  
  </div>
  
</div>

<!-- ROW THREE -->

<div class="row-three">
  
  <div class="left-three">

  <!-- UPDATES -->
    
    <div class="iframe-container">
      <iframe title ="update log" src="https://gabysworld.neocities.org/subpages/coding/updatelog" frameborder="0" style="width: 100%; height: 25rem;"></iframe>
      </div>  

  </div>
  
  <div class="right-three">
  
  <!-- BANNER -->
    <div class="banner">
      <div class="stamps">
      <marquee>
        <img style="height: 100%;" src="designassets/stamps/tounge.png">
        <img style="height: 100%;" src="designassets/stamps/madoka.gif">
        <img style="height: 100%;" src="designassets/stamps/forladies.png">
        <img style="height: 100%;" src="designassets/stamps/ouran.gif">
        <img style="height: 100%;" src="designassets/stamps/sonicrosalinda.png">
        <img style="height: 100%;" src="designassets/stamps/luckystar3.gif">
      </marquee>
      </div>
    </div>  
  
  <div class="lower-left-three">
  
  <!-- FUN -->
  
    <div class="fun">
      <div id="statuscafe">
        <div id="statuscafe"><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="https://status.cafe/current-status.js?name=gabyme" defer></script>
      </div>
      
        <div class="poll">
          <form method="post" action="https://poll.pollcode.com/54133214">
          <div style="padding:2%;width:100%;background-color: #FFFFFF95;font-family:basiic;font-size:1rem; text-align: center;color:#C55587;">
          
          <div style="padding:2px 0px 4px 2px;">
           <strong>One word to describe your style...</strong>
          </div>
          
          <input type="radio" name="answer" value="1" id="answer541332141" style="float:left;" /><label for="answer541332141" style="float:left;width:125px;">Chic</label>
          <div style="clear:both;height:2px;"></div>
          
          <input type="radio" name="answer" value="2" id="answer541332142" style="float:left;" /><label for="answer541332142" style="float:left;width:125px;">Cute</label>
          <div style="clear:both;height:2px;"></div>
          
          <input type="radio" name="answer" value="3" id="answer541332143" style="float:left;" /><label for="answer541332143" style="float:left;width:125px;">Simple</label>
          <div style="clear:both;height:2px;"></div>
          
          <input type="radio" name="answer" value="4" id="answer541332144" style="float:left;" /><label for="answer541332144" style="float:left;width:125px;">Eclectic</label>
          <div style="clear:both;height:2px;"></div>
          
          <div align="center" style="padding:3px;">
          <input type="submit" value=" Vote ">&nbsp;<input type="submit" name="view" value=" View "></div>
          
          <div align="right" style="font-size:10px">pollcode.com <a href="https://pollcode.com/">free polls</a></div></div></form>
        </div>

    </div> 
    
  <!-- CHAT -->
  
    <div class="chat">
    <div class="chatbox">
    <iframe title= "chat box" src="https://www3.cbox.ws/box/?boxid=3543685&boxtag=rAad2h"  width="100%" height="100%" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" style="overflow-x: hidden; overflow-y: scroll; position:absolute; bottom: 0px;"></iframe>	
    </div>
    </div> 

  </div>
  
  </div>
  

  
</div>
  
<!-- ROW FOUR -->
    <div class="row-four">
      
      <div class="left-four">
        
      <div class="ul-four"> 
        <h1 style="color: var(--lpink); text-shadow: 0 0 25px white">
          Webrings and Fanlists</h1>
        <div class="rings">
          <a href="http://like-knives.org/fmws"><img style="width: 50px;" src="designassets/buttons/fmws.gif" alt="Full Moon Wo Sagashite fanlisting"></a>
          <a href="https://fan.after-death.org/magica/"><img style="width: 50px;" src="designassets/buttons/madokamagica.png" alt="Madoka Magica fanlisting"></a>
          <a href="https://fan.redcrown.net/yourname"><img style="width: 50px;" src="designassets/buttons/yourname.png" alt="Your Name fanlisting"></a>
          <a href="http://fl.with-paranoia.com/atl"><img style="width: 50px;" src="designassets/buttons/atl.png" alt="All Time Low fanlisting"></a>
          <a href="http://imaginary.nu/henshin/"><img style="width: 50px;" src="designassets/buttons/magicalgirls.gif" alt="Magical girl fanlisting"></a>
          <a href="http://nymphae.net/hanakimi"><img style="width: 50px;" src="designassets/buttons/umeda.gif" alt="Hana Kimi fanlisting"></a>
          <a href="http://fan.misteryosa.com/k-on/"><img style="width: 50px;" src="designassets/buttons/yui.png" alt="K-On! fanlisting"></a>
          <a href="https://glitterskies.org/snsd/"><img style="width: 50px;" src="designassets/buttons/snsd.png" alt="SNSD fanlisting"></a>
          <a href="http://www.marheavenj.net/honoka/"><img style="width: 50px;" src="designassets/buttons/honoka.jpg" alt="Honoka Kousaka fanlisting"></a>
          <a href="https://silent.am/ps2/"><img style="width: 50px;" src="designassets/buttons/ps2.png" alt="PS2 fanlisting"></a>
          <a href="http://kyou.nu/hanadan/"><img style="width: 50px;" src="designassets/buttons/f4.jpg" alt="Boys Over Flowers fanlisting"></a>
          <a href="http://imaginary.nu/community/"><img style="width: 50px;" src="designassets/buttons/community.png" alt="Community fanlisting"></a>
          <a href="https://fan.enamour.nu/sdc/"><img style="width: 50px;" src="designassets/buttons/gac.png" alt="Gentlemans Alliance Cross fanlisting"></a>
          <a href="https://yaten.net/fob/"><img style="width: 50px;" src="designassets/buttons/fob.png" alt="Fall Out Boy fanlisting"></a>
          <a href="https://coool.neocities.org/rv/"><img style="width: 50px;" src="designassets/buttons/rv.png" alt="Red Velvet fanlisting"></a>
          <a href="https://glitterskies.org/thelastofus/"><img style="width: 50px;" src="designassets/buttons/tlou.png" alt="The Last of Us fanlisting"></a>
          <a href="https://fan.redcrown.net/katamari"><img style="width: 50px;" src="designassets/buttons/katamari.png" alt="Katamari Damacy fanlisting"></a>
          <a href="https://fan.elysia.nu/ouran/"><img style="width: 50px;" src="designassets/buttons/tamaki.png" alt="Ouran High School Host Club fanlisting"></a>
          <a href="https://fanlistings.neo-zelandaise.net/sims3/"><img style="width: 50px;" src="designassets/buttons/ts3.jpg" alt="The Sims 3 fanlisting"></a>
          <a href="http://fan.greenhype.net/bigtimerush/"><img style="width: 50px;" src="designassets/buttons/btr.gif" alt="BTR fanlisting"></a>
          
          <br>
          <div class="cdringbg">
            <!-- CDRING START -->
            <div id='cdr'>
            <script type="text/javascript" src="https://cdring.neocities.org/cdring/onionring-variables.js"></script>
            <script type="text/javascript" src="https://cdring.neocities.org/cdring/onionring-widget.js"></script>
                
            <!-- CDRING END -->
          </div>
          <!-- SILLYRING START -->
            <script src="https://silly.possiblyaxolotl.com/ring/webstring.js"></script>
          <!-- SILLYRING END -->
            <div style="width: 100%; height: 2rem;"></div>
          <!-- NO AI WEBRING START -->
          <div style="width: 200px; margin: auto;">
            <map name="noaimini8b">
            <area href="https://baccyflap.com/noai" shape="rect" coords="40,0,134,60" target="_blank" alt="no ai webring" title="no ai webring">
            <area href="https://baccyflap.com/noai/?prv&s=gyw" target="_top" shape="rect" coords="0,14,36,46" alt="previous" title="previous">
            <area href="https://baccyflap.com/noai/?nxt&s=gyw" target="_top" shape="rect" coords="138,14,174,46" alt="next" title="next">
            </map>
            <img style="width:176px;image-rendering:pixelated" usemap="#noaimini8b" src="https://baccyflap.com/noai/miniwidget8.gif" alt="a rectangle with an animated, shifting rainbow pattern with the words NO AI / WEBRING on it in big fat letters. to either side of the rectangle are two arrows pointing left and right with animated, concentrically expanding rainbow patterns in them">
          </div>
              <!-- NO AI WEBRING END -->
          <a href="https://www.grrrl.valentinely.cc/"><img src="designassets/buttons/madebya-pink.png"></a>
          </div>
        </div>
        
        <img style="width: 80%; margin: auto;" src="designassets/littlegifs/yellowdotribbon.webp">

      </div>
      
      <div class="ll-four">
      
        <h2 style="color: var(--dpink); font-size: 1.5rem; text-align: right; height: 30%;">
          <img style="margin: 0; float: left; width: auto; height: 100%; max-width: 150px; max-height: 150px;" src="designassets/littlegifs/birdhouse.gif" alt="bird delivering letter to house">
          Link Me!
        </h2>
        
        <div class="buttoncode">
          
        <p><img src="designassets/buttons/gabysworld.gif" width="60%"  height=auto style="float: right; max-width: 150px;" alt="Gaby's World Button!">
       Would love to exchange buttons! <a href="https://neocities.org/site/gabysworld" style="color: var(--sdpink);">Drop me a follow</a> and I'll give you one back</p>
        <br>
        <p style="text-align: center"><i>no hotlinking please!!</i></p>
        <p><textarea style="width: 100%; height: 3rem; color: var(--dblue); background-color: var(--bblue)">"&lt;a href="https://gabysworld.neocities.org"&gt; &lt;img src="/gabysworld.gif"&gt;&lt;/a&gt;"</textarea></p>
        </div>
        
      </div>
        
      </div>   
      
      <div class="right-four">
        <div class="pictureotd">
          <h1 style="color: var(--sdgreen); text-shadow: 0 0 8px white;"> pic of the day-ish...</h1>
          <div class="frame">
            <div class="potd">
              <img style="height: 100%; box-shadow: inset 0 0 10px black;" src="/designassets/potd/buenosdias.jpg">
            </div>
            <br>
            <p style="color: grey; font-style: italic;">buenos dias!</p>
          </div>
          <br>
          <p>*pic of the day not actually updated every day</p>
        </div>
      </div>
      
    </div>
    
<!-- FOOTER-->

<div class="disclaimer">
  <p>This works on mobile, but looks better on desktop. Get off the damn phone!</p>
  <br>
  <p style="color: white; font-size: 10pt;">&copy; Made by Gaby, last updated November 2025</p>
</div>
  
<!-- TYING UP LOOSE ENDS -->
  
  </div>
  </div>
  </body>
</html>