<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>翼のある人形 . . ♫</title>
    <link rel="icon" type="image/x-icon" href="https://file.garden/ZmMRACOgiFXI9dml/tumblr_0e3ab1402f8eee4dca6bb21ec0179fa8_79b8ba03_75.webp">
    <!-- The style.css file allows you to change the look of your web pages.
         If you include the next line in all your web pages, they will all share the same look.
         This makes it easier to make new pages for your site. -->
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
    <style>
   body {
     background-image: url('https://file.garden/ZmMRACOgiFXI9dml/be0481a82f9d393675affc6b40335daa.jpg');
     padding:50px;
    cursor:url("https://file.garden/ZmMRACOgiFXI9dml/buncursor.gif"),auto;
   }
   .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
} 
p{
  color: black;
font-size:13px;

}
a{
 font-size:15px; 
 color:black;
}
#text01 {
border-width:7px;
border-style:solid;
border-image: url("https://file.garden/ZmMRACOgiFXI9dml/fb1.png") 7 fill round;
height: 100px;
width: 100px;
padding: 8px;
overflow: auto;}
.container::-webkit-scrollbar {
  display: none;
}

.container {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
    </style> 
  </head>
  <body>
 <span class="text" style="font-size:11px">
<div style="border:20px solid white;border-image:url('https://file.garden/ZmMRACOgiFXI9dml/site%20lace%20alt%202.png') 20 fill round;width:944px;height:1162px;" class="center" >
   <div style="width:922px;height: 1140px;background-color: white;padding: 10px;border: 1px dashed #acacac;border-radius: 20px;;background-image:url('https://file.garden/ZmMRACOgiFXI9dml/tumblr_8790d132be56e8d851bc5324c572836b_5305a543_100.jpg');">
   <div style="width: 900px;height: 98%;padding: 10px;border: 1px dashed #acacac;border-radius: 20px;background-image:url('https://file.garden/ZmMRACOgiFXI9dml/9d75c4e20d80338045429bbb496279e00.png')" >
<div style="width:100%;height:19%;"><img src="https://file.garden/ZmMRACOgiFXI9dml/lain%20banner.png" style="width:100%;border: 1px solid #aaa;border-radius: 5px;">
</div>
<div style="width: 21%; height: 79%;margin-top: 8px;float: left;margin-right: 10px;">


  <div style="width:89%;padding:10px;height:27%;border: 1px dashed #757575;background-color: white;">
     <img src="https://file.garden/ZmMRACOgiFXI9dml/bunnibanner.png" class="center">    
        <b style="font-size: 18px;color:black;position:relative;top: -15%;left: 10%;">ㅤ ׅ 𝄂𝄚𝅦𝄚𝄞𝅄ㅤNAVI</b>
       <div style="margin-top:-17px;">
              <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_134a49ff10d2afc43a19eda082540f3e_9e899358_75.webp"><a href="https://rottenware.neocities.org/gallery/">gallery</a> <img src="update3.gif"><br>
              <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_b8429efce65e32735a0c4d3f684e2ef1_94fd070e_75.webp"><a href="https://rottenware.neocities.org/diary/">diary</a>  <img src="update3.gif"><br>
              <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_457fe2e2dd2c00424e317344959e9b22_9b742a3e_75.webp"><a href="404.html">blog</a> <img src="文字 NG_m.gif"><br>
              <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_2191478770d49dcd61d3b207350ec5c5_f7bf3917_75.webp"><a href="404.html">shrines</a> <img src="文字 NG_m.gif"><br>
              <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_ae8a7be8ff2074a4c0c0d33276e20524_2cb267df_75.webp"><a href="404.html">resources</a> <img src="文字 NG_m.gif"><br>
              <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_a5938a48b27ff1036f8b53caf072a950_30bb0d94_75.webp"><a href="404.html">oekaki</a> <img src="文字 NG_m.gif"> <br>
              <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_1d5d42007846245a2ac99bc10dbf952a_7e75af55_75.webp"><a href="404.html">game logs</a><img src="文字 NG_m.gif"><br>
  </div></div>
  
   <div style="width:89%;padding:10px;height:29%;border: 1px dashed #757575;background-color: white;margin-top:10px;">
     <img src="https://file.garden/ZmMRACOgiFXI9dml/bunnibanner.png" class="center">    
        <b style="font-size: 18px;color:black;position:relative;top: -15%;left: 10%;">ㅤׅ 𝄂𝄚𝅦𝄚𝄞𝅄  LIST</b >
         <div style="margin-top:-17px;">
              <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_8642fe5c45ecb7e06883261fda5f7916_ce6af2e1_75.webp"><a href="404.html">guestbook</a> <br> 
              <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_6f2de75f72c984ca9acfd46c6f91205f_3faf1e24_75.webp"><a href="404.html">profile</a> <br>
              <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_efd7cd65170ec53a851082b98bdb23ca_3f77126d_75.webp"><a href="404.html">tumblr</a> <br>
              <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_4b4b708c1caa395c707f41da6651d423_d1cb25c5_75.webp"><a href="404.html">webrings</a><br>
             <img src="https://file.garden/ZmMRACOgiFXI9dml/a50217c7-4cd9-471b-876f-b09cfbb95753.png" style="width:100%;margin-top:5px;"> 
             <img src="" style="width:100%;">
  </div></div>
   
<div style="width:100%;height:38%;margin-top: 10px;"><iframe style="border-width:10px;border-image:url('https://file.garden/ZmMRACOgiFXI9dml/bordersdd.png')5 fill round;" src="https://www5.cbox.ws/box/?boxid=943752&boxtag=emLhT7" width="90%" height="90%" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe></div>  

</div>
<!--column two start here-->
 
 <div style="float:left;width:56%;margin-top:1%;height:77%;">
  <div style="width:95.1%;height:27.7%;border:10px solid #939393;border-image: url('https://file.garden/ZmMRACOgiFXI9dml/tumblr_8790d132be56e8d851bc5324c572836b_5305a543_100.jpg') 30 fill round;outline:1px solid #9d9d9d">
  <div style="width:100%;height:99%;float:left;border: 1px solid #aeaeae;background-color: white;">
    <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_41340a95a44fe3749b4ab4cc37f0f840_bb48bcd7_100.webp" style="float:left;margin-right:5px;">
<img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_bd22a7b0aea030dfdd390158fe01f6a9_05ab0c9d_2048.png" style="float:right;width: 34%;">
  <p style="margin:0px 0px 0px 5px;">this site will be used as a way to archive my projects and share my art,writings and any other type of media i create/consume.
       Please be mindful that updates may be slow due to my health, i will try to be active as much as possible.

</p></div>

</div>
<div style="width:99%;height:60px;margin-top:5px">
<marquee behaviour="scroll">
<img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_9a045081283e47c2c5338a9aba02eaa0_4943d289_100.png" >
<img src="https://file.garden/ZmMRACOgiFXI9dml/vash%20blinkie.png" >
<img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_da1dba60585e654bd92a50554d561dcf_d1fb3c1a_100.png">
<img src="https://file.garden/ZmMRACOgiFXI9dml/dcb%20blinkie.png">
<img src="https://file.garden/ZmMRACOgiFXI9dml/sh%20blinkie.png">
<img src="https://file.garden/ZmMRACOgiFXI9dml/bb%20blinkie.png">
<img src="https://file.garden/ZmMRACOgiFXI9dml/ff%20blinkie.png">
<img src="https://file.garden/ZmMRACOgiFXI9dml/h%20blinkie.png">
<img src="https://file.garden/ZmMRACOgiFXI9dml/trigun%20blinkiee.png">
</marquee>
</div>
  
   <div style="width:99%;height:30%;background-color: white;border: 1px solid #939393;float:left;">
      <div id="" style="width:58%;height:85%;float:left;margin-left:5px;">
      <span style="font-size: 14px;color:#ff5cc7;padding-left: px;text-align:center;"><b></b></span> 
   <p style="font-size:12px;"></p></div></div>
   
   
 <div style="width: 95.1%;height: 30.7%;border: 10px solid #939393;border-image: url('https://file.garden/ZmMRACOgiFXI9dml/tumblr_8790d132be56e8d851bc5324c572836b_5305a543_100.jpg') 30 fill round;outline: 1px solid #9d9d9d;float:left;overflow-x:hidden;margin-top:10px;">
<div style="width: 100%;height:300%;float: left; border: 1px solid #aeaeae;background-color: white">
     <div style="width:30%;float:right;height:62%;">
     <img src="https://file.garden/ZmMRACOgiFXI9dml/Picsart_25-09-03_00-55-27-304.png" style="width: 200%; position: relative; right: 50%;"></div>
  <span style="font-size: 18px;color:black;padding-left: px;text-align:center;">
  <b>ׅ 𝄂𝄚𝅦𝄚𝄞UPDATE LOG</b></span><br>
     <div style="width: 57%;height:58%;text-align: left;background-color: #eee;float:left;margin: 10px 0px 0px 10px;border-radius: 7px;">
     <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_fe5f9420886a38e7d1c0c11e73fdfc3d_a57a4aa8_75.webp"><b>2025年8月25日:</b>diary page remade !!<br>
     <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_fe5f9420886a38e7d1c0c11e73fdfc3d_a57a4aa8_75.webp"><b>2024年4月26日:</b>changed the layout  !<br>
     <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_fe5f9420886a38e7d1c0c11e73fdfc3d_a57a4aa8_75.webp"><b>2023年8月31日:</b>added things to the layout !<br>
   <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_fe5f9420886a38e7d1c0c11e73fdfc3d_a57a4aa8_75.webp"><b>2023年6月25日:</b>added about page<br>
   <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_fe5f9420886a38e7d1c0c11e73fdfc3d_a57a4aa8_75.webp"><b>2022年5月28日:</b>layout remade<br>
    <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_fe5f9420886a38e7d1c0c11e73fdfc3d_a57a4aa8_75.webp"> <b>2022年5月27日:</b>new diary entry! !<br>
   <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_fe5f9420886a38e7d1c0c11e73fdfc3d_a57a4aa8_75.webp"><b>2022年8月31日:</b>layout remade<br>
 
</div>
  <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_004221e0e8d4438cc6cff8a73d085829_d37e6627_500.png" class="center"><br>
</div>
</div>



  


 
 
 </div>
 
 <div style="width:21.7%;height:77%;float:right;background-color:white;margin-top:1%;">
   <img src="https://file.garden/ZmMRACOgiFXI9dml/bunnibanner.png" style="margin:10px;">    
   <b style="font-size: 18px;color:black;position: relative;top: -6%;left: 17%;"> ׅ 𝄂𝄚𝅦𝄚𝄞𝅄 MISC</b>
   <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_332454283eded464ffe6e72bc33af54d_05825c39_1280.png" style="width: 60%;margin-top: -20px;" class="center">
 <p style="text-align: center;font-size: 14px;margin: 5px;color: black;">2025年2月5日</p>
 <b style="margin-left: 25%;font-size: 15px;">ALICE wrote:</b>
 <p style="text-align:center;">thinking about vash</p>
 <img src="https://file.garden/ZmMRACOgiFXI9dml/Tumblr_l_967581409304576.jpg" class="center" style="width:100%;">
 <img src="https://file.garden/ZmMRACOgiFXI9dml/tumblr_d2df35461d92c1adfede10ba1e8fa078_d86e9697_400.webp" class="center" style="width:90%;">
 <img src="" class="center" style="width:90%;">>
   <div style="width:100%;height:40%;border:0px solid pink;float: ; margin-left: 5px;">
   <img src="" class="center" style="width:70%;margin-top: -10px;">
   
  <textarea class="center" style="margin-top:5px;">
  </textarea></div>

 </div>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>
</div>
</div>
  </span>
  </body>
</html>